body {
    background-color: #FEFEFE;
}

.logo {
    max-width: 65px;
    padding: 0;
}

.initial-element {
    margin-top: 100px;
}

.form {
    background-color: #EAEAEA;
    border-radius: 1em;
}

.errorlist {
    display: none;
}