{% extends "Base/base.html" %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1>{{ author.name }}</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 my-2">
            {% if author.image %}
                <img class="img-fluid" src="{{ author.image.url }}">
            {% else %}
                <img class="img-fluid" src="{% static 'images/person-dummy.jpg' %}">
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-9 my-2">
            <h2>Biography</h2>
            <hr class="review-separator">
            <p>{% if author.biography %}{{ author.biography }}{% else %}We are sorry, at the moment, this author does not have a biography.{% endif %}</p>
        </div>
    </div>
{% endblock %}
