{% extends "Base/base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 my-2">
            <img class="img-fluid" src="{{ book.image.url }}">
            <div class="d-grid gap-2">
                <!-- <button type="button" id="read-button" class="btn btn-primary my-2">Mark as read</button> -->

                <!-- Button trigger modal -->
                <button type="button" id="read-button" class="btn btn-primary my-2">Mark as read</button>
                
                <!-- Modal -->
                <div class="modal fade" id="read-button-backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to remove the book from your reading list?</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- <div class="modal-body">
                          ...
                        </div> -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" id="remove-book-button" class="btn btn-primary" data-bs-dismiss="modal">Yes, I want to remove it</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <table class="table">
              <tbody>
                <tr>
                  <th scope="row">Authors</th>
                  <td id="authors-field">
                  {% if authors %}
                    {% for author in authors %}
                      <a class="link-secondary" href="{% url 'author' author_id=author.author.openlibrary_key %}">{{ author.author.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  {% else %}
                      No authors
                  {% endif %}
                  </td>
                </tr>
                {% if genres %}
                <tr>
                  <th scope="row">Genres</th>
                  <td id="genres-field">
                    {% for genre in genres %}
                      <a class="link-secondary" href="{% url 'subject' sub=genre.literary_genre.name %}">{{ genre.literary_genre.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </td>
                </tr>
                {% endif %}
              </tbody>
            </table>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 my-2">
            <h2>Summary</h2>
            <p>{% if book.summary %}{{ book.summary }}{% else %}We are sorry, at the moment, this book does not have summary.{% endif %}</p>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        let bookIsbn = '{{ book.ISBN }}';
    </script>
    <script src="../../static/js/book.js"></script>
{% endblock %}
