{% extends "Base/base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <span vocab="https://schema.org/" typeof="Book">
        <h1>
        <span rel="name">{{ book.title }}</span>
        </h1>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 my-2">
                {% if not book.image %}
                    <img class="img-fluid" src="../../static/images/NoCover.jpeg">
                {% else %}
                    <span property="image" content="{{ book.image }}"></span>
                    <img class="img-fluid" src="{{ book.image }}">
                {% endif %}
                <div class="d-grid gap-2">
                    {% if not read_by_user %}
                    <button type="button" id="read-button" class="btn btn-primary my-2">Mark as read</button>
                    {% else %}
                    <button type="button" id="read-button" class="btn my-2 btn-success" data-bs-toggle="modal" data-bs-target="#read-button-backdrop">Read</button>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="read-button-backdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to remove the book from your reading list?</h1>
                              <button typse="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <!-- <div class="modal-body">
                              ...
                            </div> -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                              <button type="button" id="remove-book-button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="col">Authors</th>
                            <td id="authors-field">
                                {% if authors %}
                                    {% for author in authors %}
                                        {% url 'author' author_id=author.author.openlibrary_key as author_url%}
                                        <a class="link-secondary" href="{{ author_url }}">
                                        <div property="author" typeof="Person">
                                            <span property="name">{{ author.author.name }}</span>
                                            <span property="url" content="{{ author_url }}"></span>
                                        </div>
                                        </a>{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        No authors
                                    {% endif %}
                                </td>
                            </tr>
                            {% if genres %}
                            <tr>
                                <th scope="row">Genres</th>
                                <td id="genres-field" rel="genre">
                                    {% for genre in genres %}
                                        <a class="link-secondary" href="{% url 'subject' genre.literary_genre.clean_name %}"><span rel="genre" content="{% url 'subject' genre.literary_genre.clean_name %}">{{ genre.literary_genre.name }}</span></a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 my-2">
                <h2>Summary</h2>
                <hr class="review-  separator">
                <p>{% if book.summary %}
                    <span property="abstract">{{ book.summary }}</span>
                {% else %}We are sorry, at the moment, this book does not have summary.
                {% endif %}</p>
                <!-- Nuevo apartado para mostrar las reviews -->
                <div>
                    <h2>Reviews</h2>
                    {% if reviews %}
                        <div rel="aggregateRating" typeof="AggregateRating">
                            <h3><span property="ratingValue">Average rating: {{ book.qualification }}</span>(<span property="reviewCount">{{ book.review_set.all.count }}</span> reviews)</h3>
                        </div>
                    {% endif %}
                    <hr class="review-separator">
                    <h4>Leave a Review</h4>
                    {% if user.is_authenticated %}
                        {% block review_form %}
                            {% if not user_review_exists %}
                                <a href="{% url 'create_review' book.openlibrary_key %}" class="btn btn-primary">Write a review</a>
                            {% else %}
                                <p>Yoy have already reviewed this book:</p>
                                <a href="{% url 'edit_review' book.openlibrary_key %}" class="btn btn-primary">Edit review</a>
                                <a href="{% url 'delete_review' book.openlibrary_key %}" class="btn btn-danger">Delete review</a>
                            {% endif %}
                        {% endblock %}
                    {% else %}
                        <p>Please <a href="{% url 'register' %}">register</a> or <a href="{% url 'login' %}">log in</a> to leave a review.</p>
                    {% endif %}
                    <hr class="review-separator">
                    {% if reviews %}
                        <div class="review-list">
                            {% for review in reviews %}
                                <div class="review" rel="review" typeof="Review">
                                    <div class="review-header">
                                        <div class="review-info"><span property="author" typeof="Person"><span property="name">{{ review.user.username }}</span></span> - <span property="publishDate" content="{{ review.date|date:"c" }}"></span>{{review.date}}</div>
                                        <div class="review-rating">
                                            {% for _ in "x"|rjust:review.qualification|make_list %}
                                                <i class="fas fa-star"></i>
                                            {% endfor %}
                                        <span property="worstRating" content="1"></span>
                                        <span property="ratingValue" content="{{ review.qualification }}"></span>
                                        <span property="bestRating" content="5"></span>
                                        </div>
                                    </div>
                                    <div class="review-comment"><span property="description">{{ review.comment }}</span></div>
                                    {% if user.is_authenticated and user == review.user %}
                                        <div class="review-actions">
                                            <a href="{% url 'edit_review' book.openlibrary_key %}" class="btn btn-primary">Edit</a>
                                            <a href="{% url 'delete_review' book.openlibrary_key %}" class="btn btn-danger">Delete</a>
                                        </div>
                                    {% endif %}
                                    <hr class="review-separator">
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No reviews available for this book.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </span>
{% endblock %}
{% block js %}
    <script>
        let openlibrary_key = '{{ book.openlibrary_key }}';
        let csrftoken = '{{ csrf_token }}';
        let added = {% if read_by_user %} true {% else %} false {% endif %};
    </script>
    <script src="../../static/js/book.js"></script>
{% endblock %}
