{% extends "Base/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    <h1 class="fs-3">Best rated books</h1>
    <hr>
    <div class="row" id="best-rated-books">
        {% for i in '123456'|make_list %}
          <div class="col-3 col-sm-6 col-md-4 col-lg-2">
            <div class="card mb-3" aria-hidden="true">
                <img src="../../static/images/loading_background.avif" class="card-img-top" alt="INSERTAR AQUÍ IMAGEN">
                <div class="card-body">
                  <h5 class="card-title placeholder-glow"><span class="placeholder col-6"></span></h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    <button id="brb-see-more-button" type="button" class="btn mb-3 btn-outline-dark">See more</button>

    <h1 class="fs-3">Subjects</h1>
    <hr>
    <ul id="subjects-list" class="list-group list-group-flush">
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="art">Art</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="animals">Animals</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="fiction">Fiction</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="sciencemathematics">Science/Mathematics</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="business">Business</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="juvenile_fiction">Juvenile fiction</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="history">History</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="health">Health</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="biography">Biography</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-s  ubject="psychology">Psychology</li>
      <li class="list-group-item list-group-item-action cursor-pointer" data-subject="textbooks">Text books</li>
    </ul>
{% endblock %}

{% block js %}
    <script src="../../static/js/index.js"></script>
{% endblock %}